<%- include ('../../partials/header.ejs')%>

<body>
    <%- include ('../../partials/navbar.ejs')%>
    <br>
    <div class="container">
        <h1>Artigos</h1>
        <a class="btn btn-success" href="/admin/articles/new">Criar novo artigo!</a><br>
        <hr>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Titulo</th>
                    <th>Slug</th>
                    <th>Categoria</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
            <% articles.forEach(article => {%>
                <tr>
                    <td> <%= article.id %> </td>
                    <td> <%= article.title %> </td>
                    <td> <%= article.slug %> </td>
                    <td> <%= article.category.title %> </td>
                    <td> 
                        <form method="post" action="/admin/articles/delete" style="display: inline;" onsubmit="confirmDelete(event)">
                            <input type="hidden" name="id" value="<%= article.id %>">
                            <button class="btn btn-danger" id="btnDelete">Deletar</button>
                        </form>
                    </td>
                </tr>
            <% }) %>
            </tbody>
        </table>
    </div>
</body>
<%- include ('../../partials/footer.ejs')%>
<script>
    function confirmDelete(event){
        event.preventDefault()
        const choice = confirm("Deseja deletar esse artigo?")
        if(choice){
            event.target.submit()
        } else {
            console.log('Não deletar artigo!')
        }
    }
</script>